form(action='/scripts/'+revision.name, method='POST')
  input(type='hidden', name='_method', value='PUT')
  p(style='float:left')
    #{revision.name+' '+revision.version}
    - if(revision.template)
      a(href='/scripts/'+revision.name+'/'+revision.version+'/run') run
  p(style='float:right')
    input(type='text', id='revision_message', name='revision[message]')
    input(type='submit', value='Save')
  p
    textArea(type='text', id='revision_content', 
             style='float:center',
             name='revision[content]', 
             style='width:100%;height:500px')= revision.content
  p(style='float:left')
    - if(revision.dependencies && revision.dependencies.length != 0)
      | depends on 
      //each dependency in revision.dependencies
      - var n = revision.dependencies.length;
      - for(var i = 0; i < n; i++)
        - var d = revision.dependencies[i];
          a(href='/scripts/'+d.name+'/'+d.version) #{d.name+' '+d.version}
          - if(i < n-1)
            , 
    - if(revision.template)
      | , embedded in 
      a(href='/scripts/'+d.name+'/'+d.version)
        #{revision.template.name+' '+revision.template.version}
  p(style='float:right')
    a(href='/scripts/'+revision.name+'/versions') versions
